In [9]:
import sqlalchemy
from sqlalchemy import create_engine, inspect, text

import pandas as pd
import numpy as np

In [10]:
SQL_USERNAME = "postgres"
SQL_PASSWORD = "Password" 
SQL_IP = "localhost"
PORT = 5432
DATABASE = "project_2"

In [11]:
#create the connection
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [12]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

# Using the inspector to print the column names within each table and its types
for table in tables:
    print(table)
    columns = inspector.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])
        
    print()

In [13]:
#CVS import for category table
filepath = "../Starter_Files/Resources/category.csv"
df_category = pd.read_csv(filepath)
df_category.head()

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video

In [21]:
#Importing data to the table category
df_category.to_sql("category", schema="public", con=engine, index=False, if_exists="append", method="multi")

9

In [22]:
#CVS import for subcategory table
filepath2 = "../Starter_Files/Resources/subcategory.csv"
df_subcategory = pd.read_csv(filepath2)
df_subcategory.head()

  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2         rock
2        subcat3          web
3        subcat4        plays
4        subcat5  documentary

In [23]:
#Importing data to the table subcategory
df_subcategory.to_sql("subcategory", schema="public", con=engine, index=False, if_exists="append", method="multi")

24

In [24]:
#CVS import for contacts table
filepath3 = "../Starter_Files/Resources/contacts.csv"
df_contacts = pd.read_csv(filepath3)
df_contacts.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [25]:
#Importing data to the table subcategory
df_contacts.to_sql("contacts", schema="public", con=engine, index=False, if_exists="append", method="multi")

1000

In [26]:
#CVS import for campaign table
filepath4 = "../Starter_Files/Resources/campaign.csv"
df_campaign = pd.read_csv(filepath4)
df_campaign.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat4,subcat4

In [20]:
df_campaign.to_sql("campaign", schema="public", con=engine, index=False, if_exists="append", method="multi")

1000